$white: #fff;
$black: #000;

$blue-50: #e8f0fe;
$blue-100: #d2e3fc;
$blue-200: #aecbfa;
$blue-300: #8ab4f8;
$blue-500: #4285f4;
$blue-600: #1a73e8;
$blue-900: #174ea6;

$red-50: #fce8e6;
$red-100: #fad2cf;
$red-200: #f6aea9;
$red-300: #f28b82;
$red-600: #d93025;
$red-900: #a50e0e;

$yellow-50: #fef7e0;
$yellow-100: #feefc3;
$yellow-200: #fde293;
$yellow-300: #fdd663;
$yellow-500: #fbbc04;
$yellow-900: #e37400;

$grey-50: #f8f9fa;
$grey-100: #f1f3f4;
$grey-200: #e8eaed;
$grey-300: #dadce0;
$grey-400: #bdc1c6;
$grey-500: #9aa0a6;
$grey-600: #80868b;
$grey-700: #5f6368;
$grey-800: #3c4043;
$grey-900: #202124;

// Breakpoints
$screen-s: '400px';
$screen-m: '768px';
$screen-l: '1280px';
$screen-xl: '1680px';

// @import url('https://fonts.googleapis.com/css?family=Google+Sans+Text:400,500,700|Google+Sans:500|Google+Sans+Mono:400&subset=latin|Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Text:wght@400;500;700&display=swap&family=Google+Sans:wght@500&display=swap&family=IBM+Plex+Mono&display=swap&family=Material+Icons');

@import 'mixins';

:root {
  --white: #{$white};
  --black: #{$grey-900};
  --black-overlay: #{rgba($grey-900, .6)};

  --blue-50: #{$blue-50};
  --blue-100: #{$blue-100};
  --blue-300: #{$blue-300};
  --blue-500: #{$blue-500};
  --blue-600: #{$blue-600};
  --blue-900: #{$blue-900};

  --red-50: #{$red-50};
  --red-100: #{$red-100};
  --red-200: #{$red-200};
  --red-300: #{$red-300};
  --red-600: #{$red-600};
  --red-900: #{$red-900};

  --yellow-50: #{$yellow-50};
  --yellow-100: #{$yellow-100};
  --yellow-200: #{$yellow-200};
  --yellow-300: #{$yellow-300};
  --yellow-500: #{$yellow-500};
  --yellow-900: #{$yellow-900};

  --grey-50: #{$grey-50};
  --grey-100: #{$grey-100};
  --grey-200: #{$grey-200};
  --grey-300: #{$grey-300};
  --grey-500: #{$grey-500};
  --grey-600: #{$grey-600};
  --grey-700: #{$grey-700};
  --grey-900: #{$grey-900};

  --border-radius: 4px;
  --font-family--body: 'Google Sans Text', sans-serif;
  // --font-family--code: 'Google Sans Mono', monospace;
  --font-family--code: 'IBM Plex Mono', monospace;
  --font-family--display: 'Google Sans', sans-serif;
  --font-size--sm: 9px;
  --font-size--md: 14px;
  --font-size--lg: 18px;
  --font-size--xl: 24px;
  --gap: 2ch;
  --line-height: 1.5em; // 24px
  --mix-blend-mode: multiply;
  --spacing--left-right: 24px;
  --spacing--top-bottom: 14px;
  --transition-ms: 150ms;

  @include dark-theme {
    --white: #{$grey-900};
    --black: #{$grey-100};
    --black-overlay: #{rgba($black, .4)};

    --blue-50: #{$blue-900};
    --blue-600: #{$blue-200};
    --blue-900: #{$blue-50};

    --red-50: #{$red-200};
    --red-600: #{$red-900};
    --red-900: #{$red-100};

    --yellow-50: #{rgba($yellow-50, .2)};
    --yellow-200: #{rgba($yellow-200, .2)}; // --grey-700
    --yellow-300: #{rgba($yellow-100, .3)};
    --yellow-900: #{$yellow-50};

    --grey-50: #{$grey-800};
    --grey-300: #{$grey-700};
    --grey-600: #{$grey-400};
    --grey-700: #{$grey-300};
    --grey-900: #{$grey-100};

    --mix-blend-mode: hard-light;
  }
}
