.butter-bar {
  @include transition(height, opacity);

  background-color: var(--white);
  border-radius: var(--border-radius);
  color: var(--grey-700);
  display: inline-flex;
  font-family: var(--font-family--body);
  font-size: var(--font-size--md);
  font-weight: 500;
  grid-area: butter-bar;
  justify-content: center;
  margin: 1ch;
  padding: 1ch;

  &--error {
    background-color: var(--red-50);
    color: var(--red-900);
  }

  &--hidden {
    height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
  }

  &--warning {
    background-color: var(--yellow-300);
    color: var(--black);
  }
}
