.intro {
  &__body,
  &__container {
    box-sizing: border-box;
    background-color: var(--white);
    color: var(--google-grey-900);
    font-family: var(--typeface-body);
    font-size: var(--typeface-size--lg);
    font-weight: 400;
    letter-spacing: .01em;
    line-height: var(--typeface-line-height--lg);
    padding-bottom: 4em;
  }

  &__container {
    @include mq-min($screen-m) {
      padding: 3px 20vw;
    }

    // margin: auto;
    // max-width: 70ch;
    // padding: 3px 0;
    margin: 0;
    padding: 3px 5vw;

    h1,
    h2,
    h3 {
      font-size: var(--typeface-size--lg) !important;
      font-weight: 500;
      line-height: var(--typeface-line-height--lg);
      margin: 2rem 0 0;
    }
  }

  img,
  &__img,
  p {
    clear: both;
    box-sizing: border-box;
    width: 100%;
  }

  img,
  &__img {
    padding-bottom: 1em;
    padding-top: 1em;

    &--left  {
      float: left;
      width: 50%;
    }
  }

  &__icon {
    @include dark-theme() {
      filter: invert(1);
    }

    box-sizing: initial;
    display: inline-block;
    height: 16px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 16px;
  }

  &__table {
    @include mq-min($screen-m) {
      flex-wrap: nowrap;
    }

    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &--cell {
      @include mq-min($screen-m) {
        width: 25%;
      }

      color: var(--google-grey-700);
      padding-right: 1em;
      width: calc(50% - 1em);
    }
  }

  &__title,
  &__sub-title {
    display: block;
    margin-top: 4em;
  }

  &__title {
    border-top: 1px solid var(--google-grey-700);
    font-weight: 500;
  }
}
