@import 'card';
@import 'modal';

.menu {
  &__container {
    margin: 0;
    max-width: 280px;
    min-height: 360px;
    min-width: 280px;
    padding: 3px 0;
  }

  &__divider {
    margin: 9px 0 4.5px;
    padding: 6px 0 0;

    &:not(:first-child) {
      @include dark-theme() {
        border-color: rgba($white, .2);
      }

      border: 0;
      border-top: 1px solid rgba($black, .15);
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 0 22px;

    &:hover .menu__edit-container {
      opacity: 1;
    }

    div {
      flex-grow: 1;
    }
  }

  &__title {
    color: var(--google-grey-700);
    font-family: var(--typeface-body);
    font-size: var(--typeface-size--sm);
    font-weight: 600;
    letter-spacing: .1em;
    padding: .5em 0;
    text-transform: uppercase;
  }

  &__header,
  &__item {
    user-select: none;
  }

  &__item {
    @include transition(background-color);

    cursor: pointer;
    margin: 4.5px 0;
    overflow: hidden;
    padding: 3px 22px;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      background-color: var(--os-blue);
      color: var(--white);
    }

    &:active {
      background-color: transparent;
    }
  }

  &__checkbox {
    @include transition(opacity);

    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    opacity: 0;
    vertical-align: middle;
    visibility: hidden;
    width: 0;

    &--visible {
      height: auto;
      margin: inherit;
      visibility: visible;
      width: auto;
    }
  }

  &__edit-container {
    @include transition(opacity);

    opacity: 0;
    text-align: right;
  }

  &__edit,
  &__add,
  &__note,
  &__organize,
  &__open-tabs {
    border-radius: 50%;
    cursor: pointer;
    font-size: var(--typeface-size--md);
    padding: .5em;
  }
}
