{% extends 'templates/base.njk' %}

{% import 'templates/macros.njk' as macros %}

{% set body_class = 'intro' %}

{% block style %}
  <link rel="stylesheet" href="./notes.min.css" />
{% endblock %}

{% block body %}
  <div class="intro__container">
    <div>
      <p>
        <img src="./images/icon-48.png" alt="Bookie icon">
        <span data-localize="__MSG_extVersion_"></span>
      </p>
      <p>&nbsp;</p>
      <h1 data-localize="__MSG_extDesc_"></h1>
      <img src="./images/screenshot-overview.jpg" class="intro__img" alt="Bookie menu">
    </div>

    <div id="overview">
      <span class="intro__title" name="bookmarks" data-localize="__MSG_introTitleOverview_"></span>
      <p data-localize="__MSG_introDescOverview_"></p>

      <div class="intro__table">
        <div class="intro__table-cell">
          <img src="./images/add.png" class="intro__icon" alt="Add">
          <h4 data-localize="__MSG_menuAdd_"></h4>
        </div>
        <div class="intro__table-cell">
          <img src="./images/edit.png" class="intro__icon" alt="Edit">
          <h4 data-localize="__MSG_menuEdit_"></h4>
        </div>
        <div class="intro__table-cell">
          <img src="./images/notes.png" class="intro__icon" alt="Notes">
          <h4 data-localize="__MSG_menuNote_"></h4>
        </div>
        <div class="intro__table-cell">
          <img src="./images/bookmark.png" class="intro__icon" alt="Bookmark">
          <h4 data-localize="__MSG_menuOrganize_"></h4>
        </div>
        <div class="intro__table-cell">
          <img src="./images/tab.png" class="intro__icon" alt="Open tab groups">
          <h4 data-localize="__MSG_menuOpenTabs_"></h4>
        </div>
      </div>
      <img src="./images/screenshot-menu.jpg" class="intro__img" alt="Bookie menu bar">

    </div>

    <div id="bookmarks">
      <span class="intro__title" name="bookmarks" data-localize="__MSG_introTitleBookmarks_"></span>
      <p data-localize="__MSG_introDescBookmarks_"></p>
      <img src="./images/screenshot-add.jpg" class="intro__img" alt="Bookie add modal">

      <p data-localize="__MSG_introDescBookmarksRemove_"></p>
      <img src="./images/screenshot-remove.jpg" class="intro__img" alt="Bookie inline remove">

      <p data-localize="__MSG_introDescBookmarksManage_"></p>
      <img src="./images/screenshot-organize.jpg" class="intro__img" alt="Chrome bookmarks manager">
    </div>

    <div id="notes">
      <span class="intro__title" name="notes" data-localize="__MSG_introTitleNotes_"></span>
      <p data-localize="__MSG_introDescNotes_"></p>

      <img src="./images/screenshot-note.jpg" class="intro__img" alt="Notes menu">
    </div>

    <div id="markdown">
      <span class="intro__title" name="markdown" data-localize="__MSG_introTitleMarkdown_"></span>
      <p data-localize="__MSG_introDescMarkdown_"></p>
      <p>&nbsp;</p>
      <div class="notes notes__container">
        {% call macros.markdown_container() -%}
          {{ macros.markdown_example() | safe }}
        {%- endcall %}
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="./intro.min.js"></script>
  <script src="./notes.min.js"></script>
{% endblock %}
