{% extends 'templates/base.njk' %}

{% import 'templates/macros.njk' as macros %}
{% import 'templates/mdc-macros.njk' as mdc %}

{% set body_class = 'notes' %}

{% block style %}
  <link rel="stylesheet" href="./notes.min.css" />
{% endblock %}

{% block body %}
  <div id="notes__container" class="notes__container">
    <header class="notes__header">
      <div class="notes__header-group">
        {{ mdc.select('notes__select') }}
      </div>
      <div class="notes__header-group">
        <a href="https://github.com/ikatyang/emoji-cheat-sheet/blob/master/README.md#face-smiling" target="_blank" class="button material-icons" title="Emoji reference">mood {# 🤔 #}</a>
        <a href="./intro.html#markdown" target="_blank" class="button material-icons" title="Bookie Markdown Reference">code</a>
        <a href="./intro.html" target="_blank" class="notes__icon notes__icon--bookie" title="Bookie Help">&nbsp;</a>
      </div>
    </header>


    {% call macros.markdown_container() %}
&nbsp;
    {% endcall %}

    <footer class="notes__save-container notes__content--hidden">
      <form action="" name="save">
        {{ macros.button_text('save', 'Save') }}
        {{ macros.button_text('export', 'Export Markdown') }}
      </form>
    </footer>
  </div>
{% endblock %}

{% block script %}
  <script src="./notes.min.js"></script>
{% endblock %}

