@use '@material/list/mdc-list';
@use '@material/menu-surface/mdc-menu-surface';
@use '@material/menu/mdc-menu';
@use '@material/select/styles';
@use '@material/select';

@import 'sass/_defs';
@import 'sass/_base';
@import 'sass/forms';
@import 'sass/intro';
@import 'sass/notes-html';

@mixin mdc-select-styles {
  @include select.ink-color((
    'default': var(--grey-700),
    'focus': var(--blue-600),
    'hover': var(--blue-600)
  ));
  @include select.label-color((
    'default': var(--grey-700),
    'focus': var(--blue-600),
    'hover': var(--blue-600)
  ));
  @include select.outline-color((
    'default': var(--grey-700),
    'focus': var(--blue-600),
    'hover': var(--blue-600)
  ));
  @include select.dropdown-icon-color((
    'default': var(--grey-700),
    'focus': var(--blue-600),
    'hover': var(--blue-600)
  ));

  .mdc-select {
    color: var(--grey-900);
    font-family: var(--font-family--body);
    font-size: var(--font-size--md);
    font-weight: 500;

    &__anchor {
      @include dark-theme {
        filter: grayscale(0);
      }

      // TODO (frederickk): Hack to overcome specificity issue with setting
      // light-theme (default) colors with MDC SASS includes.
      filter: grayscale(1);
    }

    &__dropdown-icon {
      filter: grayscale(1);
    }

    &__selected-text {
      align-items: center;
      color: inherit;
      font-family: inherit;
      font-size: var(--font-size--sm);
      font-weight: 600;
    }
  }

  .mdc-list {
    background-color: var(--white);
    color: var(--grey-900);

    &-item {
      @include transition(background-color);

      background-color: inherit;
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      letter-spacing: .1em;

      &::after,
      &::before {
        background-color: transparent;
      }

      &:hover {
        background-color: var(--background-color--overlay);
      }

      &--selected {
        background-color: var(--background-color);
      }

      &__text {
        white-space: nowrap;
        padding-top: .5em;
        padding-bottom: .5em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.notes {
  --background-color: var(--yellow-50);
  --background-color--overlay: var(--yellow-200);
  --color: var(--grey-900);

  &__container {
    background-color: var(--background-color);
    bottom: 0;
    color: var(--color);
    display: grid;
    font-family: var(--font-family--body);
    font-size: var(--font-size--lg);
    font-weight: 400;
    gap: 0;
    grid-template-areas:
      'header'
      'content'
      'footer';
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    left: 0;
    line-height: var(--line-height);
    position: absolute;
    right: 0;
    top: 0;
  }

  &__content {
    border-radius: var(--border-radius);
    box-sizing: border-box;
    margin-top: calc(var(--spacing--top-bottom) * 2);

    &-container {
      grid-area: content;
      overflow: auto;
      padding: 0 var(--spacing--left-right);
      position: relative;
    }

    &--hidden {
      display: none;
      visibility: hidden;
      z-index: -1;
    }

    &--html {
      @include html-styles;

      height: 100%;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &--markdown {
      background-color: transparent;
      border: 0;
      color: inherit;
      cursor: text;
      font-family: var(--font-family--code);
      font-size: inherit;
      height: 90%;
      position: relative;
      resize: none;
      white-space: pre-line;
      width: 100%;
    }
  }

  &__header {
    align-items: center;
    display: flex;
    gap: var(--gap);
    grid-area: header;
    justify-content: space-between;
    padding: var(--spacing--top-bottom) var(--spacing--left-right);
    text-transform: uppercase;

    &-group {
      align-items: center;
      display: inline-flex;
      flex-wrap: nowrap;
      gap: var(--gap);
      justify-content: flex-end;
    }
  }

  &__icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &--bookie {
      @include transition(background-image);

      background-image: url('./images/icon-48.png');
      height: 24px;
      margin-right: 0;
      width: 24px;

      &:hover {
        background-image: url('./images/icon-inactive-48.png');
      }
    }
  }

  &__save-container {
    @include transition(bottom);

    background-color: var(--white);
    display: flex;
    gap: var(--gap);
    grid-area: footer;
    justify-content: flex-end;
    padding: var(--spacing--top-bottom) var(--spacing--left-right);
  }

  &__select {
    @include mdc-select-styles;

    margin: 0;
    text-indent: 0;
  }
}
