@use '@material/list/mdc-list';
@use '@material/menu-surface/mdc-menu-surface';
@use '@material/menu/mdc-menu';
@use '@material/select/styles';
@use '@material/select';

@import 'sass/_defs';
@import 'sass/_base';
@import 'sass/forms';
@import 'sass/intro';

@mixin mdc-select-styles() {
  @include select.ink-color((
    'default': var(--google-grey-700),
    'focus': var(--google-blue-600),
    'hover': var(--google-blue-600)
  ));
  @include select.label-color((
    'default': var(--google-grey-700),
    'focus': var(--google-blue-600),
    'hover': var(--google-blue-600)
  ));
  @include select.outline-color((
    'default': var(--google-grey-700),
    'focus': var(--google-blue-600),
    'hover': var(--google-blue-600)
  ));
  @include select.dropdown-icon-color((
    'default': var(--google-grey-700),
    'focus': var(--google-blue-600),
    'hover': var(--google-blue-600)
  ));

  .mdc-select {
    color: var(--google-grey-900);
    font-family: var(--typeface-body);
    font-size: var(--typeface-size--md);
    font-weight: 500;

    &__anchor {
      @include dark-theme() {
        filter: grayscale(0);
      }

      // TODO(frederickk): Hack to overcome specificity issue with setting
      // light-theme (default) colors with MDC SASS includes.
      filter: grayscale(1);
    }

    &__dropdown-icon {
    //   @include dark-theme() {
    //     filter: invert(1) contrast(1) brightness(2);
    //   }

      filter: grayscale(1);
    }

    &__selected-text {
      align-items: center;
      color: inherit;
      font-family: inherit;
      font-size: var(--typeface-size--sm);
      font-weight: 600;
    }
  }

  .mdc-list {
    background-color: var(--white);
    color: var(--google-grey-900);

    &-item {
      @include transition(background-color, 50ms);

      background-color: inherit;
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      letter-spacing: .1em;

      &::after,
      &::before {
        background-color: transparent;
      }

      &:hover {
        background-color: var(--google-yellow-100);
      }

      &--selected {
        background-color: var(--google-yellow-50);
      }

      &__text {
        white-space: nowrap;
        padding-top: .5em;
        padding-bottom: .5em;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@mixin code() {
  background-color: var(--google-yellow-100);
  border-radius: var(--border-radius);
  font-family: var(--typeface-code);
  font-size: var(--typeface-line-height--md);
  padding: 0 .5em;
  white-space: pre-wrap;
}

@mixin html-styles() {
  // a {
  //   &:link,
  //   &:visited,
  //   &:active {
  //     color: var(--google-blue-600);
  //   }

  //   &:hover {
  //     background-color: transparent;
  //     color: var(--google-blue-900);
  //   }
  // }

  code {
    @include code();

    display: inline-block;
  }

  h1,
  h2,
  h3 {
    font-family: var(--typeface-body);
    font-size: var(--typeface-size--lg);
    font-weight: 500;
    line-height: var(--typeface-line-height--lg);
    margin: 2rem 0 0;
  }

  h4,
  h5,
  h6,
  p {
    code {
      @include code();

      display: block;
      padding: 1em;
    }

    font-size: var(--typeface-size--lg);
    font-weight: 400;
    line-height: var(--typeface-line-height--lg);
    margin: 2rem 0 0;
  }

  hr {
    border-top: 1px dotted var(--google-grey-700);
    border-bottom: 0;
    margin: 3rem 0;
  }

  img {
    @include dark-theme() {
      mix-blend-mode: soft-light;
    }
    @include transition(filter);

    width: 100%;
    filter: grayscale(1);
    mix-blend-mode: multiply;

    &:hover {
      filter: grayscale(0);
      mix-blend-mode: normal;
    }
  }

  mark {
    background-color: var(--google-yellow-300);
  }

  pre {
    code {
      @include code();

      display: block;
      padding: 1em;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    margin-bottom: 2rem;
    width: 100%;

    tbody > tr:nth-child(odd) > td,
    tbody > tr:nth-child(odd) > th {
      background-color: var(--google-yellow-100);
    }

    thead > tr > th,
    tbody > tr > th,
    tfoot > tr > th,
    thead > tr > td,
    tbody > tr > td,
    tfoot > tr > td {
      padding: 1rem;
      vertical-align: top;
      border-top: 1px solid var(--google-grey-900);
    }
  }

  ul {
    box-sizing: border-box;
    list-style: initial;

    // TODO (frederickk): Find another way and avoid "!important".
    & > li {
      margin: 0 0 1rem !important;
    }

    :not(li) > li {
      margin: 0 !important;
    }

    li,
    p {
      margin: 0;
      line-height: 2.5rem;
    }
  }
}

.notes {
  &__body,
  &__container {
    background-color: var(--google-yellow-50);
    box-sizing: border-box;
    color: var(--google-grey-900);
    font-family: var(--typeface-body);
    display: flex;
    font-size: var(--typeface-size--lg);
    letter-spacing: .01em;
    line-height: var(--typeface-line-height--lg);
    margin: auto;
    max-width: 70ch;
  }

  &__container {
    margin: 0;
    max-width: 100%;
    padding: 3px 0;
    width: 100%;
  }

  &__save-container {
    @include transition(bottom);

    background-color: var(--white);
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    padding: 12px 22px;
    position: fixed;
    text-align: right;
    width: 100%;
    z-index: 1000;
  }

  &__item {
    box-sizing: border-box;
    margin: auto;
    min-height: 100vh;
    overflow: scroll;
    padding: 3px 22px;
    position: relative;
    width: 100%;
  }

  &__icon {
    @include dark-theme() {
      filter: invert(1) contrast(1) brightness(2);
      mix-blend-mode: screen;

      &:hover {
        filter: none;
      }
    }

    align-self: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 16px;
    // margin-left: 1em;
    margin-right: 8px;
    margin-top: 0 !important;
    mix-blend-mode: multiply;
    vertical-align: middle;
    width: 16px;

    &--bookie {
      @include transition(background-image);

      background-image: url('./images/icon-inactive-48.png');
      height: 24px;
      margin-left: 0;
      margin-right: 0;
      width: 24px;

      &:hover {
        background-image: url('./images/icon-48.png');
      }
    }

    &--doc,
    &--docs {
      background-image: url('./images/document.png');
    }

    &--file {
      background-image: url('./images/file.png');
    }

    &--image {
      background-image: url('./images/image.png');
    }

    &--pdf {
      background-image: url('./images/pdf.png');
    }

    &--sheet,
    &--sheets {
      background-image: url('./images/spreadsheet.png');
    }

    &--site,
    &--sites,
    &--web {
      background-image: url('./images/site.png');
    }

    &--slide,
    &--slides {
      background-image: url('./images/presentation.png');
    }

    &--sketch {
      background-image: url('./images/sketch.png');
    }

    &--video,
    &--film {
      background-image: url('./images/video.png');
    }

    &--zip {
      background-image: url('./images/zip.png');
    }

    & + p {
      display: inline;

      &::after {
        content: '\A';
        white-space: pre;
      }
    }
  }

  &__header {
    background-color: var(--google-yellow-50);
    box-sizing: border-box;
    color: inherit;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    letter-spacing: .1em;
    max-width: 70ch;
    padding: .5em 22px;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 1000;

    .button {
      align-items: center;
      background-color: transparent;
      border-color: transparent;
      display: inline-flex;
      height: 56px;
      margin: .5em 0;
    }
  }

  &__header-group {
    align-items: center;
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 2ch;
    justify-content: flex-start;
  }

  &__select {
    @include mdc-select-styles;

    align-self: center;
    text-indent: 0;
    margin: .5em 0;
  }

  &__content {
    box-sizing: border-box;
    left: 22px;
    margin-top: calc(72px + 1em);
    padding-bottom: 3rem;
    position: absolute;
    right: 22px;
    top: 0;

    &--hidden {
      display: none;
      // visibility: hidden;
      z-index: -1;
    }

    &--markdown {
      @include transition(padding);

      background-color: transparent;
      border: 0;
      cursor: text;
      font-family: var(--typeface-code);
      font-size: var(--typeface-line-height--md);
      font-weight: 400;
      left: 0;
      min-height: calc(100vh - 15rem);
      margin-bottom: 72px;
      padding: 1em;
      position: relative;
      resize: none;
      white-space: pre-line;
      width: 100%;
    }

    &--html {
      @include html-styles;

      height: 100%;
    }
  }

}
